@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
$small_screen: 600px;
$medium_screen: 768px;
$large_screen: 992px;
$larger_screen: 1200px;

$fontJudul: 'Montserrat', sans-serif;
$colorTextJudul: #f2b724;

@media screen and (max-width: $small_screen) {
    .container {
        .title-content {
            h2 {
                font-size: 5.5vw;
                font-family: $fontJudul;
            }
            p {
                font-size: 4vw;
            }
            margin-bottom: 3vw;
        }
        .card-content {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            gap: 5vw;
        }
        .btn-explore {
            font-size: 4vw;
            padding: 10px 15px 10px 15px;
            background-color: $colorTextJudul;
            border-radius: 10px;
            text-decoration: none;
            color: black;
            transition: 0.3s;
            &:hover {
                background-color: #af8418;
            }
        }
    } 
}

@media screen and (min-width: $small_screen) {
    .container {
        .title-content {
            h2 {
                font-size: 4.5vw;
                font-family: $fontJudul;
            }
            p {
                font-size: 3vw;
            }
            margin-bottom: 3vw;
        }
        .card-content {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            gap: 5vw;
        }
        .btn-explore {
            font-size: 3vw;
            padding: 15px 20px 15px 20px;
            background-color: $colorTextJudul;
            border-radius: 10px;
            text-decoration: none;
            color: black;
            transition: 0.3s;
            &:hover {
                background-color: #af8418;
            }
        }
    } 
}

@media screen and (min-width: $medium_screen) {
    .container {
        .title-content {
            h2 {
                font-size: 3.5vw;
                font-family: $fontJudul;
            }
            p {
                font-size: 2.7vw;
            }
            margin-bottom: 3vw;
        }
        .card-content {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            gap: 2vw;
        }
        .btn-explore {
            font-size: 2.7vw;
            padding: 15px 20px 15px 20px;
            background-color: $colorTextJudul;
            border-radius: 10px;
            text-decoration: none;
            color: black;
            transition: 0.3s;
            &:hover {
                background-color: #af8418;
            }
        }
    } 
}

@media screen and (min-width: $large_screen) {
    .container {
        .title-content {
            h2 {
                font-size: 3vw;
                font-family: $fontJudul;
            }
            p {
                font-size: 2vw;
            }
            margin-bottom: 3vw;
        }
        .card-content {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            gap: 2vw;
        }
        .btn-explore {
            font-size: 2vw;
            padding: 15px 20px 15px 20px;
            background-color: $colorTextJudul;
            border-radius: 10px;
            text-decoration: none;
            color: black;
            transition: 0.3s;
            &:hover {
                background-color: #af8418;
            }
        }
    } 
}

@media screen and (min-width: $larger_screen) {
    .container {
        .title-content {
            h2 {
                font-size: 3vw;
                font-family: $fontJudul;
            }
            p {
                font-size: 1.9vw;
            }
            margin-bottom: 3vw;
        }
        .card-content {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
            gap: 1.5vw;
        }
        .btn-explore {
            font-size: 1.9vw;
            padding: 15px 20px 15px 20px;
            background-color: $colorTextJudul;
            border-radius: 10px;
            text-decoration: none;
            color: black;
            transition: 0.3s;
            &:hover {
                background-color: #af8418;
            }
        }
    } 
}