$small_screen: 600px;
$medium_screen: 768px;
$large_screen: 992px;
$larger_screen: 1200px;

@media screen and (max-width: $small_screen) {
    .card-recipe {
        margin-bottom: 10vh;
        margin-top: 1vh;
        .recipe-content {
            border: none;
            margin-bottom: 2.5vw;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            .card-image {
                width: 100%;
                aspect-ratio:  4/2;
                object-fit: cover;
                border-radius: 3vw;
            }   
        }
    } 
    .loader-box {
        position: fixed;
        z-index: 99;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: $small_screen) {
    .card-recipe {
        margin-bottom: 15vh;
        margin-top: 1vh;
        .recipe-content {
            border: none;
            margin-bottom: 2.5vw;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            .card-image {
                width: 100%;
                aspect-ratio:  4/2;
                object-fit: cover;
                border-radius: 3vw;
            }   
        }
    } 
    .loader-box {
        position: fixed;
        z-index: 99;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: $medium_screen) {
    .card-recipe {
        margin-bottom: 15vh;
        margin-top: 1vh;
        .recipe-content {
            border: none;
            margin-bottom: 2.5vw;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            .card-image {
                width: 40%;
                border-radius: 2vw;
            }   
        }
    } 
    .loader-box {
        position: fixed;
        z-index: 99;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: $large_screen) {
    .card-recipe {
        margin-bottom: 5vh;
        margin-top: 1vh;
        padding-bottom: 2vh;
        .recipe-content {
            border: none;
            margin-bottom: 2.5vw;
            display: flex;
            flex-direction: row;    
            .card-image {
                width: 40%;
                border-radius: 2vw;
            }   
        }
    } 
    .loader-box {
        position: fixed;
        z-index: 99;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: $larger_screen) {
    .card-recipe {
        margin-bottom: 15vh;
        margin-top: 1vh;
        .recipe-content {
            border: none;
            margin-bottom: 2.5vw;
            display: flex;
            flex-direction: row;    
            .card-image {
                width: 40%;
                border-radius: 2vw;
            }   
        }
    } 
    .loader-box {
        position: fixed;
        z-index: 99;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}