@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
$color: #ededed;
$navBgColor: rgba(0,0,0,0.6);
$colorTextJudul: #f2b724;
$colorTextTagline: #c37918;
$fontJudul: 'Julius Sans One', sans-serif;
$fontTagline: 'Montserrat', sans-serif;

$small_screen: 600px;
$medium_screen: 768px;
$large_screen: 992px;

//Small screen 
@media screen and (max-width: $small_screen) {
    .navbar {
        background-color: $navBgColor;
        width: auto;
        padding: 10px;
        .navbar-text {
            font-family: $fontJudul;
            font-size: 4.5vw;
            color: $colorTextJudul;
        }
        .auth-list {
            width: auto;
            display: flex;
            justify-content: end;
            gap: 2vw;
            font-size: 3.3vw;
            .btn-signup {
                border: 1px solid $colorTextJudul;
                padding: 5px 10px 5px 10px;
                text-decoration: none;
                color: $colorTextJudul;
                border-radius: 10px;
                transition: 0.3s;
                &:hover {
                    background-color: $colorTextJudul;
                    color: black;
                }
            }
            .btn-signin {
                padding: 5px 10px 5px 10px;
                background-color: $colorTextJudul;
                border-radius: 10px;
                text-decoration: none;
                color: black;
                transition: 0.3s;
                &:hover {
                    background-color: #af8418;
                }
            }
        }
    }

    
    .carousel {
        .carousel-inner {
            background-image: linear-gradient(
                rgba(0,0,0,0.5), 
                rgba(0,0,0,0.8)), 
                url("../../assets/img/hero.jpeg");
            background-size: cover;
            background-position: center;
            height: 100vh;
            .carousel-item {
                .hero {
                    height: 100vh;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .header-tagline {
                        width: 80%;
                
                        h1 {
                            font-family: $fontTagline;
                            font-size: 9.3vw;
                            color: $colorTextTagline;
                        }
                        p {
                            font-family: inherit;
                            font-size: 3.6vw;
                            color: whitesmoke;
                        }
                    }
                }
            }
        }
        .carousel-control-prev {
            display: none ;
        }
        .carousel-control-next {
            display: none ;
        }
    }
}

// small screen potrait
@media screen and (min-width: $small_screen) { 
    .navbar {
        background-color: $navBgColor;
        width: auto;
        padding: 10px;
        .navbar-text {
            font-family: $fontJudul;
            font-size: 3vw;
            color: $colorTextJudul;
        }
        .auth-list {
            width: auto;
            display: flex;
            justify-content: end;
            gap: 2vw;
            font-size: 2.5vw;
            .btn-signup {
                border: 1px solid $colorTextJudul;
                padding: 5px 10px 5px 10px;
                text-decoration: none;
                color: $colorTextJudul;
                border-radius: 10px;
                transition: 0.3s;
                &:hover {
                    background-color: $colorTextJudul;
                    color: black;
                }
            }
            .btn-signin {
                padding: 5px 10px 5px 10px;
                background-color: $colorTextJudul;
                border-radius: 10px;
                text-decoration: none;
                color: black;
                transition: 0.3s;
                &:hover {
                    background-color: #af8418;
                }
            }
        }
    }

    .carousel {
        .carousel-inner {
            background-image: linear-gradient(
                rgba(0,0,0,0.5), 
                rgba(0,0,0,0.8)), 
                url("../../assets/img/hero.jpeg");
            background-size: cover;
            background-position: center;
            height: 100vh;
            .carousel-item {
                .hero {
                    height: 100vh;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .header-tagline {
                        width: 80%;
                
                        h1 {
                            font-family: $fontTagline;
                            font-size: 7vw;
                            color: $colorTextTagline;
                        }
                        p {
                            font-family: inherit;
                            font-size: 2.5vw;
                            color: whitesmoke;
                        }
                    }
                }
            }
        }
        .carousel-control-prev {
            display: none ;
        }
        .carousel-control-next {
            display: none ;
        }
    }
}

// medium screen
@media screen and (min-width: $medium_screen) { 
    .navbar {
        background-color: $navBgColor;
        width: auto;
        padding: 10px;
        .navbar-text {
            font-family: $fontJudul;
            font-size: 3vw;
            color: $colorTextJudul;
        }
        .auth-list {
            width: auto;
            display: flex;
            justify-content: end;
            gap: 2vw;
            font-size: 2.5vw;
            .btn-signup {
                border: 1px solid $colorTextJudul;
                padding: 5px 10px 5px 10px;
                text-decoration: none;
                color: $colorTextJudul;
                border-radius: 10px;
                transition: 0.3s;
                &:hover {
                    background-color: $colorTextJudul;
                    color: black;
                }
            }
            .btn-signin {
                padding: 5px 10px 5px 10px;
                background-color: $colorTextJudul;
                border-radius: 10px;
                text-decoration: none;
                color: black;
                transition: 0.3s;
                &:hover {
                    background-color: #af8418;
                }
            }
        }
    }

    .carousel {
        .carousel-inner {
            background-image: linear-gradient(
                rgba(0,0,0,0.5), 
                rgba(0,0,0,0.8)), 
                url("../../assets/img/hero.jpeg");
            background-size: cover;
            background-position: center;
            height: 100vh;
            .carousel-item {
                .hero {
                    height: 100vh;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .header-tagline {
                        width: 80%;
                
                        h1 {
                            font-family: $fontTagline;
                            font-size: 6vw;
                            color: $colorTextTagline;
                        }
                        p {
                            font-family: inherit;
                            font-size: 2.5vw;
                            color: whitesmoke;
                        }
                    }
                }
            }
        }
        .carousel-control-prev {
            display: none ;
        }
        .carousel-control-next {
            display: none ;
        }
    }
}

// large screen
@media screen and (min-width: $large_screen) { 
    .navbar {
        background-color: $navBgColor;
        width: auto;
        padding: 10px;
        .navbar-text {
            font-family: $fontJudul;
            font-size: 2.7vw;
            color: $colorTextJudul;
        }
        .auth-list {
            width: auto;
            display: flex;
            justify-content: end;
            gap: 2vw;
            font-size: 1.8vw;
            .btn-signup {
                border: 1px solid $colorTextJudul;
                padding: 5px 10px 5px 10px;
                text-decoration: none;
                color: $colorTextJudul;
                border-radius: 10px;
                transition: 0.3s;
                &:hover {
                    background-color: $colorTextJudul;
                    color: black;
                }
            }
            .btn-signin {
                padding: 5px 10px 5px 10px;
                background-color: $colorTextJudul;
                border-radius: 10px;
                text-decoration: none;
                color: black;
                transition: 0.3s;
                &:hover {
                    background-color: #af8418;
                }
            }
        }
    }

    .carousel {
        .carousel-inner {
            background-image: linear-gradient(
                rgba(0,0,0,0.5), 
                rgba(0,0,0,0.8)), 
                url("../../assets/img/hero.jpeg");
            background-size: cover;
            background-position: center;
            height: 100vh;
            .carousel-item {
                .hero {
                    height: 100vh;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .header-tagline {
                        width: 80%;
                        
                        h1 {
                            font-family: $fontTagline;
                            font-size: 5vw;
                            color: $colorTextTagline;
                        }
                        p {
                            font-family: inherit;
                            font-size: 1.8vw;
                            color: whitesmoke;
                        }
                    }
                }
            }
        }
        .carousel-control-prev {
            display: none ;
        }
        .carousel-control-next {
            display: none ;
        }
    }
}