$small_screen: 600px;
$medium_screen: 768px;
$large_screen: 992px;

$colorBtnText: #c37918;
$sizeSubJudul: 5.5vw;
$generalFontSize: 4vw;
@media screen and (max-width: $small_screen) {
    .card {
        .card-image {
            aspect-ratio:  3/2;
            object-fit: cover;
        }
        .card-body {
            .card-title {
                font-size: $sizeSubJudul;
            }
            .card-text {
                font-size: $generalFontSize;
            }
            .card-btn {
                .btn {
                    font-size: $generalFontSize;
                    color: $colorBtnText;
                    text-decoration: none;
                    font-weight: bold;
                }
                .delete {
                    &:hover {
                        color: red;
                    }
                }
                .edit {
                    &:hover {
                        color: blue;
                    }
                }
                width: 100%;
                text-align: end;
            }
        }
    }
}

$sizeSubJudul_smallTab: 4.5vw;
$generalFontSize_smallTab: 3vw;
@media screen and (min-width: $small_screen) {
    .card {
        .card-image {
            aspect-ratio:  3/2;
            object-fit: cover;
        }
        .card-body {
            .card-title {
                font-size: $sizeSubJudul_smallTab;
            }
            .card-text {
                font-size: $generalFontSize_smallTab;
            }
            .card-btn {
                .btn {
                    font-size: $generalFontSize_smallTab;
                    color: $colorBtnText;
                    text-decoration: none;
                    font-weight: bold;
                }
                .delete {
                    &:hover {
                        color: red;
                    }
                }
                .edit {
                    &:hover {
                        color: blue;
                    }
                }
                width: 100%;
                text-align: end;
            }
        }
    }
}

$sizeSubJudul_medium: 3.5vw;
$generalFontSize_medium: 2.7vw;
@media screen and (min-width: $medium_screen) {
    .card {
        .card-image {
            aspect-ratio:  3/2;
            object-fit: cover;
        }
        .card-body {
            .card-title {
                font-size: $sizeSubJudul_medium;
            }
            .card-text {
                font-size: $generalFontSize_medium;
            }
            .card-btn {
                .btn {
                    font-size: $generalFontSize_medium;
                    color: $colorBtnText;
                    text-decoration: none;
                    font-weight: bold;
                }
                .delete {
                    &:hover {
                        color: red;
                    }
                }
                .edit {
                    &:hover {
                        color: blue;
                    }
                }
                width: 100%;
                text-align: end;
            }
        }
    }
}


$sizeSubJudul_large: 3vw;
$generalFontSize_large: 2vw;
@media screen and (min-width: $large_screen) {
    .card {
        .card-image {
            aspect-ratio:  3/2;
            object-fit: cover;
        }
        .card-body {
            .card-title {
                font-size: $sizeSubJudul_large;
            }
            .card-text {
                font-size: $generalFontSize_large;
            }
            .card-btn {
                .btn {
                    font-size: $generalFontSize_large;
                    color: $colorBtnText;
                    text-decoration: none;
                    font-weight: bold;
                }
                .delete {
                    &:hover {
                        color: red;
                    }
                }
                .edit {
                    &:hover {
                        color: blue;
                    }
                }
                width: 100%;
                text-align: end;
            }
        }
    }
}