$small_screen: 600px;
$medium_screen: 768px;
$large_screen: 992px;
$larger_screen: 1200px;

$colorFocusInput: #f2b724;
$generalFontSize: 3.6vw;
@media screen and (max-width: $small_screen) {
    .input-div {
        input {
            font-size: $generalFontSize;
            &::placeholder {
                font-size: $generalFontSize;
            }
            &:focus {
                outline: none;
                border-color: $colorFocusInput;
                box-shadow: none;
            }
        }
    }
}

$generalFontSize_SmallTab: 2.6vw;
@media screen and (min-width: $small_screen) {
    .input-div {
        input {
            font-size: $generalFontSize_SmallTab;
            &::placeholder {
                font-size: $generalFontSize_SmallTab;
            }
            &:focus {
                outline: none;
                border-color: $colorFocusInput;
                box-shadow: none;
            }
        }
    }
}

$generalFontSize_medium: 2.5vw;
@media screen and (min-width: $medium_screen) {
    .input-div {
        input {
            font-size: $generalFontSize_medium;
            &::placeholder {
                font-size: $generalFontSize_medium;
            }
            &:focus {
                outline: none;
                border-color: $colorFocusInput;
                box-shadow: none;
            }
        }
    }
}

$generalFontSize_large: 1.6vw;
@media screen and (min-width: $large_screen) {
    .input-div {
        input {
            font-size: $generalFontSize_large;
            &::placeholder {
                font-size: $generalFontSize_large;
            }
            &:focus {
                outline: none;
                border-color: $colorFocusInput;
                box-shadow: none;
            }
        }
    } 
}

$generalFontSize_larger: 1.6vw;
@media screen and (min-width: $larger_screen) {
    .input-div {
        input {
            font-size: $generalFontSize_larger;
            &::placeholder {
                font-size: $generalFontSize_larger;
            }
            &:focus {
                outline: none;
                border-color: $colorFocusInput;
                box-shadow: none;
            }
        }
    }
}