$small_screen: 600px;
$medium_screen: 768px;
$large_screen: 992px;
$larger_screen: 1200px;

$colorText: whitesmoke;
$colorBorderBottom: #f2b724;
$colorHoverText: #c37918;
$colorBg: black;
@media screen and (max-width: $small_screen) {
    .nav {
        border-bottom: 3px  solid $colorBorderBottom;
        background-color: $colorBg;
        display: flex;
        justify-content: center;
        .list-link {
            display: flex;
            justify-content: center;
            gap: 4vw;
            padding-top: 10px;
            padding-bottom: 10px;
            font-size: 4vw;
            width: 100%;
            .link {
                color: $colorText;
                text-decoration: none;
                font-weight: 500;
                transition: 0.5s;
                &:hover {
                    color: $colorHoverText;
                }
            }
            .active {
                color: $colorHoverText;
            }
        }
    }
}

@media screen and (min-width: $small_screen) {
    .nav {
        border-bottom: 3px  solid $colorBorderBottom;
        background-color: $colorBg;
        display: flex;
        justify-content: center;
        .list-link {
            display: flex;
            justify-content: center;
            gap: 4vw;
            padding-top: 10px;
            padding-bottom: 10px;
            font-size: 3.2vw;
            width: 100%;
            .link {
                color: $colorText;
                text-decoration: none;
                font-weight: 500;
                transition: 0.5s;
                &:hover {
                    color: $colorHoverText;
                }
            }
            .active {
                color: $colorHoverText;
            }
        }
    }
}

@media screen and (min-width: $medium_screen) {
    .nav {
        border-bottom: 3px  solid $colorBorderBottom;
        background-color: $colorBg;
        display: flex;
        justify-content: center;
        .list-link {
            display: flex;
            justify-content: center;
            gap: 4vw;
            padding-top: 10px;
            padding-bottom: 10px;
            font-size: 2.8vw;
            width: 100%;
            .link {
                color: $colorText;
                text-decoration: none;
                font-weight: 500;
                transition: 0.5s;
                &:hover {
                    color: $colorHoverText;
                }
            }
            .active {
                color: $colorHoverText;
            }
        }
    }
}

@media screen and (min-width: $large_screen) {
    .nav {
        border-bottom: 3px  solid $colorBorderBottom;
        background-color: $colorBg;
        display: flex;
        justify-content: center;
        .list-link {
            display: flex;
            justify-content: center;
            gap: 4vw;
            padding-top: 10px;
            padding-bottom: 10px;
            font-size: 1.9vw;
            width: 100%;
            .link {
                color: $colorText;
                text-decoration: none;
                font-weight: 500;
                transition: 0.5s;
                &:hover {
                    color: $colorHoverText;
                }
            }
            .active {
                color: $colorHoverText;
            }
        }
    }
}

@media screen and (min-width: $larger_screen) {
    .nav {
        border-bottom: 3px  solid $colorBorderBottom;
        background-color: $colorBg;
        display: flex;
        justify-content: center;
        .list-link {
            display: flex;
            justify-content: center;
            gap: 4vw;
            padding-top: 10px;
            padding-bottom: 10px;
            font-size: 2vw;
            width: 100%;
            .link {
                color: $colorText;
                text-decoration: none;
                font-weight: 500;
                transition: 0.5s;
                &:hover {
                    color: $colorHoverText;
                }
            }
            .active {
                color: $colorHoverText;
            }
        }
    }
}